Flask
Flask-SQLAlchemy
Flask-Cors
SQLAlchemy
psycopg2-binary
python-dotenv
Flask-Migrate
marshmallow
flask-marshmallow
marshmallow-sqlalchemy
flask-jwt-extended
flask-bcrypt
pytest
validate_email_address
celery
redis
flask_mail
Flask-Limiter[redis]